<div class="max-h-64 overflow-y-auto">
    {% for choice_value, choice_label in field.field.choices %}
    <div class="form-control">
        <label class="label cursor-pointer">
            <input type="checkbox" class="checkbox" 
                   name="{{ field.name }}" 
                   id="id_{{ field.name }}_{{ forloop.counter }}" 
                   value="{{ choice_value }}"
                   {% if choice_value|stringformat:"s" in field.value|default_if_none:"" or choice_value in field.value|default_if_none:"" %}checked{% endif %}>
            <span class="label-text">{{ choice_label }}</span>
        </label>
    </div>
    {% endfor %}
</div>
