{% extends "base.html" %}

{% block title %}
Album: {{ object }}
{% endblock %}

{% block content %}
<h2 class="text-3xl inline-flex gap-2">
    <span class="font-extralight">
        {% include "partials/back_button.html" %}
        Album:
    </span>
    {{ object }}
</h2>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="box">
        <div class="overflow-x-scroll">
            <table class="table table-zebra table-auto">
                <colgroup>
                    <col class="w-min whitespace-nowrap" />
                    <col class="w-full" />
                </colgroup>
                <tr>
                    <th>Title</th>
                    <td>{{ object.title }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ object.slug }}</td>
                </tr>
                <tr>
                    <th>Short Description</th>
                    <td>{{ object.short_description }}</td>
                </tr>
                <tr>
                    <th>Public ID</th>
                    <td>{{ object.uuid }}</td>
                </tr>
                <tr>
                    <th>Sort Mode</th>
                    <td>
                        {{ object.get_sort_method_display }}
                        {% if object.sort_descending %}
                            (Descending)
                        {% else %}
                            (Ascending)
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Parent Album</th>
                    <td>
                        {% if object.parent %}
                        <a href="{% url 'album-detail' object.parent.pk %}">{{ object.parent }}</a>
                        {% else %}
                        (none)
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Child Albums</th>
                    <td>
                        {% if object.children.count > 0 %}
                        <ul class="list-disc list-inside">
                            {% for child in object.children.all %}
                            <li><a href="{% url 'album-detail' child.pk %}">{{ child }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        (none)
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ object.created_at | date:"Y-m-d H:i" }}</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>{{ object.updated_at | date:"Y-m-d H:i" }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="box">
            <div>
                <h3>Description</h3>

                <p>{{ object.description|default:"No description for album." }}</p>
            </div>
        </div>
    </div>
</div>

<div>
    <h3>Photos</h3>

    {% load django_tables2 %}
    {% render_table photo_table %}
</div>

<div>
    {% include "partials/model_view_modify_buttons.html" %}
</div>

{% endblock %}