{% if table.rows %}
<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {% for row in table.rows %}

    <a href="{% url 'photo-detail' row.record.id %}">
        <div class="box">
            <img src="{% url 'photo-image' row.record.id UI_THUMBNAIL_LARGE %}" alt="{{ row.record.title }}"
                class="shadow mx-auto mb-2" />
            <h4 class="text-md text-center font-semibold pb-0 mb-0">{{ row.record.title }}</h4>
        </div>
    </a>

    {% endfor %}
</div>
{% else %}

<p>
    No photos.
</p>

{% endif %}