<!DOCTYPE html>
<html lang="en">

<!-- Tailwind: text-red-500 -->

<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}Photoserv{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}

    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/bundle.js' %}" defer></script>
</head>

<body class="min-h-screen flex flex-col">
    <header>
        <div class="navbar p-4 bg-base-200 shadow-sm flex-col md:flex-row md:justify-between">
            <div class="navbar-start flex justify-center md:justify-start">
                <a href="{% url 'home' %}">
                    <h1 class="text-xl">Photoserv</h1>
                </a>
            </div>

            <div class="navbar-end mt-2 md:mt-0 w-full md:w-half justify-center md:justify-end">
                {% block navbar_end %}
                <a href="{% url 'photo-list' %}" class="btn btn-ghost">Photos</a>
                <a href="{% url 'album-list' %}" class="btn btn-ghost">Albums</a>
                <a href="{% url 'tag-list' %}" class="btn btn-ghost">Tags</a>

                <div class="dropdown dropdown-end" x-data="{ openNavMenu: false }">
                    <button class="btn btn-ghost" @click="openNavMenu = !openNavMenu"
                        :aria-expanded="openNavMenu.toString()" aria-controls="dropdown-menu">
                        Settings
                        <svg class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </button>

                    <ul id="dropdown-menu" class="list-none dropdown-content menu min-w-30 bg-base-100 shadow-sm"
                        x-show="openNavMenu" x-transition @click.outside="openNavMenu = false">

                        <li><a href="{% url 'size-list' %}">Sizes</a></li>
                        <li><a href="{% url 'api-key-list' %}">Public API</a></li>
                        <li><a href="{% url 'integration-list' %}">Integrations</a></li>
                        <li><a href="{% url 'job-list' %}">Jobs</a></li>
                        {% if AUTH_ENABLED %}
                        <li><a href="{% url 'user-list' %}">Users</a></li>
                        <li>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="cursor-pointer">Log Out</button>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endblock %}
            </div>
        </div>
    </header>
    <main class="flex-grow p-4 w-full">
        <div class="max-w-6xl mx-auto grid grid-cols-1 gap-y-4">
            <div>
                {% block messages %}
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% elif message.tags == 'error' %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endblock %}
            </div>
            {% block content %} {% endblock %}
        </div>
    </main>

    <footer class="p-4 text-center">
        <p>
            Photoserv version {{ APP_VERSION }} &ndash;
            <a href="https://github.com/photoserv/photoserv" class="link" target="_blank">View on GitHub</a>
        </p>

        {% if user.is_authenticated %}
        <p class="text-sm mt-1">
            Logged in as <span class="font-medium">{{ request.user.username }}</span>
        </p>
        {% endif %}
    </footer>
</body>

</html>