{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}List of {{ object_type_name_plural }}{% endblock %}

{% block content %}

<div class="flex items-center justify-between">
    <h2>{{ object_type_name_plural }}</h2>

    <div class="flex flex-col gap-2 sm:flex-row">
        {% block header_buttons %}
        {% endblock %}
        {% if can_directly_create %}
            {% if formset_support %}
            <a href="{% url object_url_name_slug|add:'-create-multiple' %}" class="btn btn-primary">
                Create Multiple
            </a>
            {% endif %}
            <a href="{% url object_url_name_slug|add:'-create' %}" class="btn btn-primary">
                Create
            </a>
        {% endif %}
    </div>
</div>

<div class="overflow-x-hidden">
    {% render_table table %}
</div>
{% endblock %}