{% extends "generic_crud_list.html" %}

{% block title %}Public API{% endblock %}

{% block messages %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success">
                New API Key: <code>{{ message }}</code><br />
                This will only be shown once!
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}

{% block content %}

{{ block.super }}

<div class="flex justify-center my-4">
    <a href="{% url 'swagger' %}" class="btn btn-primary" target="_blank" rel="noopener">
        API Explorer (Swagger)
    </a>
</div>

{% endblock %}
